In [16]:
import pandas as pd
import numpy as np

In [17]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [19]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})

player_count

   Total Players
0            576

In [21]:
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())

number_of_unique_items

183

In [28]:
average_price = purchase_data["Price"].mean()

average_price

3.050987179487176

In [29]:
number_of_purchases = purchase_data["Purchase ID"].count()

number_of_purchases

780

In [30]:
total_revenue = purchase_data["Price"].sum()

total_revenue

2379.77

In [46]:
purchasing_analysis = pd.DataFrame([
                        {"Number of Unique Items": number_of_unique_items,
                         "Average Price":average_price,
                         "Number of Purchases": number_of_purchases,
                         "Total Revenue": total_revenue}])

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [57]:
gender_demographics = pd.DataFrame(purchase_data["Gender"].value_counts())


gender_demographics

                       Gender
Male                      652
Female                    113
Other / Non-Disclosed      15

In [63]:
percentage_of_players = (purchase_data["Gender"].value_counts()/total_players)*100

percentage_of_players

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [64]:
gender_demographics["Percentage of Players"] = percentage_of_players
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:,.2f}%".format)

gender_demographics

                       Gender Percentage of Players
Male                      652               113.19%
Female                    113                19.62%
Other / Non-Disclosed      15                 2.60%