In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})

player_count

   Total Players
0            576

In [4]:
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())

number_of_unique_items

183

In [5]:
average_price = purchase_data["Price"].mean()

average_price

3.050987179487176

In [6]:
number_of_purchases = purchase_data["Purchase ID"].count()

number_of_purchases

780

In [7]:
total_revenue = purchase_data["Price"].sum()

total_revenue

2379.77

In [8]:
purchasing_analysis = pd.DataFrame([
                        {"Number of Unique Items": number_of_unique_items,
                         "Average Price":average_price,
                         "Number of Purchases": number_of_purchases,
                         "Total Revenue": total_revenue}])

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [9]:
gender_sn_age = purchase_data.loc[:,["SN","Age","Gender"]].drop_duplicates()
gender_demographics = pd.DataFrame(gender_sn_age["Gender"].value_counts())


gender_demographics

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [10]:
percentage_of_players = (gender_sn_age["Gender"].value_counts()/total_players)*100

percentage_of_players

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [11]:
gender_demographics["Percentage of Players"] = percentage_of_players
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:,.2f}%".format)

gender_demographics

                       Gender Percentage of Players
Male                      484                84.03%
Female                     81                14.06%
Other / Non-Disclosed      11                 1.91%

In [12]:
gender_demo = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_count = purchase_data.groupby(by=["Gender"]).count()["Purchase ID"]

gender_count
    
# purchasing_analysis = pd.DataFrame([
#                         {"Number of Unique Items": number_of_unique_items,
#                          "Average Price":average_price,
#                          "Number of Purchases": number_of_purchases,
#                          "Total Revenue": total_revenue}])

# purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
# purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

# purchasing_analysis

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [13]:
gender_mean = purchase_data.groupby(by=["Gender"]).mean()["Price"]

gender_mean

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:
total_value =  purchase_data.groupby(by=["Gender"]).sum()["Price"]

total_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
total_per_person = total_value/gender_demographics["Gender"]

total_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [16]:
gender_sn_age["Age_Range"]= pd.cut(gender_sn_age["Age"], bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200],
labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"])

total_count = gender_sn_age["Age_Range"].value_counts()

total_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age_Range, dtype: int64

In [17]:
Percent_of_players = (total_count/total_players)*100

Percent_of_players

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age_Range, dtype: float64

In [18]:
age_demographics = pd.DataFrame({"Percent of players":Percent_of_players,"Total count": total_count})
age_demographics["Percent of players"] = age_demographics["Percent of players"].map("{:.2f}%".format)

age_demographics

      Percent of players  Total count
20-24             44.79%          258
15-19             18.58%          107
25-29             13.37%           77
30-34              9.03%           52
35-39              5.38%           31
10-14              3.82%           22
<10                2.95%           17
40+                2.08%           12

In [48]:
gender_sn_age["Age_Range"]= pd.index(gender_sn_age["Age"], bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200]
average_purchase_price = purchase_data["Price"].mean()
total_purchase_value = gender_sn_age["Price"].sum()
total_per_person = total_purchase_value/total_count

purchasing_analysis_age = pd.DataFrame([
                         {"Age Range": gender_sn_age,
                          "Total Count": total_count,
                          "Average Purchase Price":average_purchase_price,
                          "Total Purchase Value": total_purchase_value,
                          "Avg Total Purchase per Person": total_per_person}])

purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchasing_analysis_age

SyntaxError: invalid syntax (<ipython-input-48-e2bf0c471fb0>, line 2)