In [1]:
import pandas as pd
import numpy as np

In [2]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [3]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})

player_count

   Total Players
0            576

In [4]:
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())

number_of_unique_items

183

In [5]:
average_price = purchase_data["Price"].mean()

average_price

3.050987179487176

In [6]:
number_of_purchases = purchase_data["Purchase ID"].count()

number_of_purchases

780

In [7]:
total_revenue = purchase_data["Price"].sum()

total_revenue

2379.77

In [8]:
purchasing_analysis = pd.DataFrame([
                        {"Number of Unique Items": number_of_unique_items,
                         "Average Price":average_price,
                         "Number of Purchases": number_of_purchases,
                         "Total Revenue": total_revenue}])

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [9]:
gender_sn_age = purchase_data.loc[:,["SN","Age","Gender","Price"]].drop_duplicates()
gender_demographics = pd.DataFrame(gender_sn_age["Gender"].value_counts())


gender_demographics

                       Gender
Male                      651
Female                    113
Other / Non-Disclosed      15

In [10]:
percentage_of_players = (gender_sn_age["Gender"].value_counts()/total_players)*100

percentage_of_players

Male                     113.020833
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64

In [11]:
gender_demographics["Percentage of Players"] = percentage_of_players
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:,.2f}%".format)

gender_demographics

                       Gender Percentage of Players
Male                      651               113.02%
Female                    113                19.62%
Other / Non-Disclosed      15                 2.60%

In [12]:
gender_demo = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_count = purchase_data.groupby(by=["Gender"]).count()["Purchase ID"]

gender_count
    
# purchasing_analysis = pd.DataFrame([
#                         {"Number of Unique Items": number_of_unique_items,
#                          "Average Price":average_price,
#                          "Number of Purchases": number_of_purchases,
#                          "Total Revenue": total_revenue}])

# purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
# purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

# purchasing_analysis

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [13]:
gender_mean = purchase_data.groupby(by=["Gender"]).mean()["Price"]

gender_mean

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [14]:
total_value =  purchase_data.groupby(by=["Gender"]).sum()["Price"]

total_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
total_per_person = total_value/gender_demographics["Gender"]

total_per_person

Female                   3.203009
Male                     3.022488
Other / Non-Disclosed    3.346000
dtype: float64

In [16]:
gender_sn_age["Age_Range"] = pd.cut(gender_sn_age["Age"], bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,200],
labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"])

total_count = gender_sn_age["Age_Range"].value_counts()

total_count

20-24    365
15-19    135
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age_Range, dtype: int64

In [17]:
Percent_of_players = (total_count/total_players)*100

Percent_of_players

20-24    63.368056
15-19    23.437500
25-29    17.534722
30-34    12.673611
35-39     7.118056
10-14     4.861111
<10       3.993056
40+       2.256944
Name: Age_Range, dtype: float64

In [18]:
age_demographics = pd.DataFrame({"Percent of players":Percent_of_players,"Total count": total_count})
age_demographics["Percent of players"] = age_demographics["Percent of players"].map("{:.2f}%".format)

age_demographics

      Percent of players  Total count
20-24             63.37%          365
15-19             23.44%          135
25-29             17.53%          101
30-34             12.67%           73
35-39              7.12%           41
10-14              4.86%           28
<10                3.99%           23
40+                2.26%           13

In [19]:
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
gender_sn_age["Age_Range"] = pd.cut(
    purchase_data["Age"],
    bins=[0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200],
    labels=bin_labels,
)

In [49]:
grouped_df = gender_sn_age.groupby(["Age_Range"]).agg({"Price": ["count","mean", "sum"]})


grouped_df

          Price
          count      mean      sum
Age_Range
<10          23  3.353478    77.13
10-14        28  2.956429    82.78
15-19       135  3.040074   410.41
20-24       365  3.052219  1114.06
25-29       101  2.900990   293.00
30-34        73  2.931507   214.00
35-39        41  3.601707   147.67
40+          13  2.941538    38.24

In [57]:
grouped_df = gender_sn_age.groupby(["Age_Range"]).agg({"Price": ["count","mean", "sum"]})
purchase_count_age =  grouped_df["Purchase ID"].count()
avg_purchase_price_age = grouped_df["Price"].mean()
total_purchase_age = grouped_df["Price"].sum()

purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count_age,
                                        "Average Purchase Price": avg_purchase_price_age,
                                        "Total Purchase Value""total_purchase_age}

                                       
                                       
purchasing_analysis_age["Average Purchase Price"] = purchasing_analysis_age["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age["Total Purchase Value"] = purchasing_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
# purchasing_analysis_age["Avg Total Purchase per Person"] = purchasing_analysis_age["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchasing_analysis_age

SyntaxError: EOL while scanning string literal (<ipython-input-57-c071381fb7f1>, line 8)

In [45]:
top_stats = purchase_data.groupby("SN")
purchase_count_spender = top_stats["Purchase ID"].count()
avg_purchase_price_spender = top_stats["Price"].mean()
purchase_total_spender = top_stats["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()


formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [46]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [48]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})